.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
}


button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal h2 {
  margin-bottom: 20px;
}
